.home-section:first-of-type {
    padding-top: 150px;
    padding-bottom: 150px;
}

p {
    text-align: justify;
}

.site-footer {
  display: none;
}

#caption {
  font-size: 14px;
  color: #a1a1a1;
}